@import "../../styles/partials/variables";

@import "../../styles/partials/mixins";

@import "../../styles/partials/functions";

@import "../../styles/partials/fonts";

html,
body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  font-family: Titillium Web;
}

.add {
  left: 4.27%;
  right: 4.27%;
  height: fit-content;
  margin-bottom: 10%;
  background: #ffffff;
  box-shadow: 0px 2px 5px rgba(19, 24, 44, 0.1);
  border-radius: 3px;
  @include tablet {
    top: 13.7%;
  }
  @include desktop {
    width: 80%;
    left: 10%;
  }

  &__inventory-title-container {
    border-bottom: 1px solid #bdc5d5;
    display: flex;
    align-items: center;
    justify-content: center;
    @include tablet {
      justify-content: flex-start;
    }
  }
  &__inventory-title {
    font-family: Titillium Web;
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 36px;
    margin: 24px auto;
    align-items: center;
    color: #13182c;
    @include tablet {
      font-weight: 600;
      font-size: 32px;
      line-height: 40px;
      margin: 5% 0 3% 5%;
    }
    @include desktop {
      font-weight: 600;
      font-size: 32px;
      line-height: 40px;
      margin: 2.5% 0 2.5% 5%;
    }
  }
  &__inventory-form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    @include tablet {
      height: 510px;
    }
  }
  &__inventory-heading {
    margin-left: 5%;
    @include tablet {
      margin-left: 10%;
    }
  }
  &__inventory-heading-title {
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
    display: flex;
    align-items: center;
    color: #13182c;
    @include tablet {
      font-weight: 600;
      font-size: 24px;
      line-height: 32px;
    }
    @include desktop {
      font-weight: 600;
      font-size: 24px;
      line-height: 32px;
    }
  }
  &__inventory-form-outer-container {
    width: 100%;
    @include tablet {
      display: flex;
      width: 100%;
      height: 440px;
    }
  }

  &__inventory-form-top-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    @include tablet {
      width: 50%;
    }
  }
  &__inventory-form-item-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 5%;
    align-items: center;
    @include tablet {
      margin-bottom: 7%;
    }
    @include desktop {
      margin-bottom: 5%;
    }
  }

  &__inventory-form-label-heading {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-content: center;
    justify-content: center;
    align-items: center;
    @include desktop {
      width: 82%;
    }
  }

  &__inventory-form-item-label {
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 20px;
    align-self: flex-start;
    color: #13182c;
    margin-left: 6%;
    margin-bottom: 1%;
<<<<<<< HEAD
    // &:hover {
    //   border-radius: 20px;
    //   border: 1px solid $instock-indigo;
    //   outline: none;
    // }
=======
>>>>>>> hector-palacios
    @include tablet {
      font-weight: 600;
      font-size: 14px;
      line-height: 22px;
      margin-left: 9%;
    }
    @include desktop {
      align-self: flex-start;
      margin-left: 0;
    }
  }
  &__inventory-form-item-input {
    width: 90%;
    height: 36px;
    background: #ffffff;
    border: 1px solid #bdc5d5;
    box-sizing: border-box;
    border-radius: 20px;
    padding-left: 3%;
    appearance: none;
<<<<<<< HEAD
    // background-image: url(../../assets/icons/arrowdropdown24px.svg);
    background-repeat: no-repeat;
    background-position: 96% 50%;

    &:focus {
      outline: none;
    }
    &:hover {
      border-radius: 20px;
      border: 1px solid $instock-indigo;
      outline: none;
      // background-color: transparent;
    }
=======
    background-image: url(../../assets/icons/arrowdropdown24px.svg);
    background-repeat: no-repeat;
    background-position: 96% 50%;

>>>>>>> hector-palacios
    @include tablet {
      width: 85%;
      height: 38px;
      left: 64px;
    }
    @include desktop {
      width: 100%;
    }
  }

  &__inventory-form-description-container {
    @extend .add__inventory-form-item-container;
  }
  &__inventory-form-description-label {
    @extend .add__inventory-form-item-label;
  }
  &__inventory-form-description-input {
    @extend .add__inventory-form-item-input;
    height: 120px;
    resize: none;
    background: #ffffff;
    border: 1px solid #bdc5d5;
    box-sizing: border-box;
    border-radius: 20px;
    &::placeholder {
      font-family: Titillium Web;
      font-style: normal;
      font-weight: normal;
      font-size: 13px;
      line-height: 20px;
      color: #13182c;
      padding-left: 3%;
      padding-top: 1%;

      @include tablet {
        font-size: 14px;
        line-height: 22px;
      }

      @include desktop {
        padding-left: 1%;
      }
    }
  }
  &__inventory-form-category-container {
    @extend .add__inventory-form-item-container;
  }
  &__inventory-form-category-label {
    @extend .add__inventory-form-item-label;
  }
  &__inventory-form-category-input {
    @extend .add__inventory-form-item-input;
  }
  &__inventory-form-category-input-option {
  }
  &__inventory-separation {
    display: none;
    @include tablet {
      border-right: 1px solid #bdc5d5;
      height: 390px;
      margin-top: 20px;
      display: unset;
    }
    @include desktop {
      height: 392px;
    }
  }
  &__inventory-form-bottom-container {
    @include tablet {
      width: 50%;
    }
  }

  &__inventory-heading-bottom {
    @extend .add__inventory-heading;
    @include tablet {
    }
  }
  &__inventory-heading-title {
    @extend .add__inventory-heading-title;
  }
  &__inventory-form-status-container {
    @extend .add__inventory-form-item-container;
  }
  &__inventory-form-status-label-status {
    @include tablet {
      margin-left: 10%;
    }
  }

  &__inventory-form-status-label {
    @extend .add__inventory-form-item-label;
  }
  &__inventory-form-status-input-container {
    display: flex;
    width: 90%;
    @include tablet {
      width: 70%;
      align-self: flex-start;
      margin-left: 9%;
    }
  }
  &__inventory-form-status-radio {
    background: #ffffff;
    width: 16px;
    height: 16px;
    border: 1px solid #bdc5d5;
    box-sizing: border-box;
  }
  &__inventory-form-status-radio-label {
    font-weight: normal;
    font-size: 13px;
    line-height: 20px;
    color: #5c667e;
    margin-right: 1%;
    @include tablet {
      font-size: 14px;
      line-height: 22px;
    }
  }
  &__inventory-form-status-radio-container {
    display: flex;
    justify-content: space-between;
    width: 80px;
  }

  &__inventory-form-status-radio-container-right {
    display: flex;
    justify-content: space-between;
    width: 100px;
    margin-left: 25%;
  }

  &__inventory-form-warehouse-container {
    @extend .add__inventory-form-item-container;
  }
  &__inventory-form-warehouse-label {
    @extend .add__inventory-form-item-label;
  }
  &__inventory-form-warehouse-input {
    @extend .add__inventory-form-item-input;
  }
  &__inventory-form-warehouse-option {
  }
  &__inventory-form-btn-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 68px;
    background: rgba(247, 248, 249, 0.7);
    border-radius: 0px 0px 3px 3px;
    @include tablet {
      justify-content: flex-end;
    }
    @include desktop {
      height: 70px;
    }
  }
  &__inventory-form-btn {
    width: 139px;
    height: 36px;
    left: 40px;
    top: 838px;
    border: 1px solid #bdc5d5;
    box-sizing: border-box;
    border-radius: 20px;
    @include tablet {
    }
  }
  &__inventory-form-btn-cancel {
    background: #ffffff;
    font-weight: 600;
    font-size: 13px;
    line-height: 20px;
    color: #5c667e;
    @include tablet {
      width: 72px;
      height: 38px;
      margin-right: 3%;
      font-size: 14px;
      line-height: 22px;
    }
    @include desktop {
      margin-right: 1.5%;
    }
  }
  &__inventory-form-btn-save {
    background: #2e66e6;
    font-weight: 600;
    font-size: 13px;
    line-height: 20px;
    color: #ffffff;
    @include tablet {
      width: 61px;
      height: 38px;
      margin-right: 3%;
      font-size: 14px;
      line-height: 22px;
    }
  }
}
<<<<<<< HEAD

.add__inventory-form-item-input-display-non {
  display: none;
}
=======
>>>>>>> hector-palacios
