/// Variables ///

//Global colors

//Instock-black
$instock-black: #13182C;

//Instock Indigo
$instock-indigo: #2E66E6;

//White
$white: #FFFFFF;

//Slate
$slate: #5C667E;

//Cloud
$cloud: #BDC5D5;

//Graphite
$graphite: #232940;

//Light-Gray
$light-gray: #F7F8F9;

//Green
$green: #158463;

//Red
$red: #C94515;

$breakpoint-desktop: 1280px; // > 1280px
$breakpoint-tablet: 768px;
$breakpoint-mobile: 320px;

//Margins
$left-margin-desk: auto;
$left-margin-desk2: auto;
$right-margin-desk: auto;
$left-margin-tablet: 32px;
$right-margin-tablet: 32px;
$left-margin-mob: 16px;
$right-margin-mob: 16px;

// Defaul width page
$width-page: 100%;