@import '../../styles/partials/variables';

@import '../../styles/partials/mixins';

@import '../../styles/partials/functions';

@import '../../styles/partials/fonts';

.warehouse {
    &__container {
        @include mobile {
          position: absolute;
<<<<<<< HEAD
          height: 268%;
=======
          height: 256%;
>>>>>>> hector-palacios
          width: 91%;
          border: 2px solid $white;
          left: 4.27%;
          right: 4.27%;
          margin-top: 8rem;
          box-shadow: 0px 2px 5px rgba(19, 24, 44, 0.1);
          border-radius: 3px;
          margin-bottom: 6rem;
          background-color: $white;         
        }
        @include tablet {
            margin-top: 5.5rem;
<<<<<<< HEAD
            height: 128%;
=======
            height: 144%;
>>>>>>> hector-palacios
        }
        @include desktop {
            width: 80%;
            left: 10%;
            right: 10%;
<<<<<<< HEAD
            height: 97%;
=======
            height: 112%;
>>>>>>> hector-palacios
        }
    }

    &__search-container {
        @include mobile {
            // display: flex;
            height: 125px;
        }
        @include tablet {
            display: flex;
            // justify-content: flex-end;
        }
    }

    &__header {
        @include mobile {
        font-weight: 600;
        font-size: 25px;
        color: $instock-black;
        display: flex;
        justify-content: flex-start;
        margin-left: 1.5rem;
        margin-bottom: 0.8rem;
        margin-top: 2rem;
    }
    @include tablet {
        // margin-right: 10rem;
    }
}

&__button-container {
    @include tablet {
        display: flex;
        justify-content: flex-end;
        width: 100%;
        // align-items: flex-end;
    }
}

    &__search {
        @include mobile {
        display: flex;
        justify-content: flex-start;
        border: 1px solid $cloud;
        box-sizing: border-box;
        border-radius: 20px;
        width: 82%;
        height: 30px;
        margin-left: 1.5rem;
        margin-right: 2rem;
    }
    @include tablet {
        margin-top: 2rem;
        width: 175px;
        height: 35px;
        margin-left: -2rem;
        margin-right: 0rem;
    }
}

    &__search::placeholder {
        @include mobile {
            font-weight: 400;
            font-size: 13px;
            color: $slate;
            padding-left: 0.8rem;
        }
    }

    &__search-icon {
        @include mobile {
            width: 18px;
            height: 18px;
            position: absolute;
            // left: 12.5%;
            right: 14%;
            top: 5.2rem;
            // top: 12.5%;
            // bottom: 14.63%;
        }
        @include tablet {
<<<<<<< HEAD
            position: relative;
            right: 5%;
            top: 2.5rem;
        }
        @include desktop {
            right: 2.5%;
=======
            right: 34%;
            top: 2.5rem;
        }
        @include desktop {
            right: 23%;
>>>>>>> hector-palacios
        }
    }

    &__button {
        @include mobile {
            display: flex;
            justify-content: flex-start;
            width: 82%;
            height: 30px;
            background-color: $instock-indigo;
            border-radius: 20px;
            margin-left: 1.5rem;
            margin-top: 0.8rem;
            border: 1px solid $instock-indigo;

        }
        @include tablet {
            margin-top: 2rem;
            width: 175px;
            height: 35px;
            padding-top: 6px;
            margin-right: 1.5rem;
            margin-left: -0.2rem;
        }
    }

    &__button span {
        @include mobile {
      color: $white;
      font-weight: 600;
      font-family: 'Titillium Web';
      font-size: 12px;
      margin: 0 auto;
      padding-top: 3px;
        }
        @include tablet {
          padding-top: 1px;
          padding-left: 2px;
          text-align: center;
        }
  
    }

    &__tablet-div {
        @include mobile {
            display: none;
        }
        @include tablet {
        display: flex;
        // margin-left: 1.2rem;
        margin-top: -2.5rem;
        margin-bottom: 2.5rem;
        background-color: rgba(247, 248, 249, 0.7);
        width: 100%;
        // justify-content: flex-start;
        }
    }

    &__tablet-warehouse,
    &__tablet-address,
    &__tablet-contact,
    &__tablet-contactinfo,
    &__tablet-actions {
        @include mobile {
            display: none;
        }
        @include tablet {
            display: flex;
            justify-content: space-between;
            font-weight: 600;
            font-size: 12px;
            color: $slate;
            margin-left: 1.2rem;
            // padding-right: 2.1rem;
        }
        @include desktop {
            margin-left: 1.6rem;
        }
    }


    &__tablet-contact {
        @include desktop {
            margin-left: 6rem;
            // margin-right: -2.2rem;
        }
    }

    &__tablet-contactinfo {
        margin-left: -2rem;
    }

    &__tablet-sorticon {
        @include mobile {
            display: none;
        }
        @include tablet {
            display: flex;
            height: 20px;
            width: 15px;
            margin-top: 0.75rem;
            margin-right: 2.1rem;

        }
        @include desktop {
            margin-right: 8.5rem;
        }
        @include tablet {
            margin-top: 2rem;
            width: 175px;
            height: 35px;
            padding-left: 31px;
            padding-top: 6px;
            margin-right: 1.5rem;
        }
    }

    &__tablet-div {
        @include mobile {
            display: none;
        }
        @include tablet {
        display: flex;
        // margin-left: 1.2rem;
        margin-top: -2.5rem;
        margin-bottom: 2.5rem;
        background-color: rgba(247, 248, 249, 0.7);
        width: 100%;
        // justify-content: flex-start;
        }
    }

    &__tablet-warehouse,
    &__tablet-address,
    &__tablet-contact,
    &__tablet-contactinfo,
    &__tablet-actions {
        @include mobile {
            display: none;
        }
        @include tablet {
            display: flex;
            justify-content: space-between;
            font-weight: 600;
            font-size: 12px;
            color: $slate;
            margin-left: 1.2rem;
            // padding-right: 2.1rem;
        }
        @include desktop {
            margin-left: 1.6rem;
        }
    }

    &__tablet-contact {
        @include desktop {
            margin-left: 4rem;
            margin-right: -2.2rem;
        }
    }

    &__tablet-sorticon {
        @include mobile {
            display: none;
        }
        @include tablet {
            display: flex;
            height: 20px;
            width: 15px;
            margin-top: 0.75rem;
            margin-right: 2.1rem;

        }
        @include desktop {
            margin-right: 6.2rem;
        }
    }

    &__tablet-actions {
        margin-left: -1rem;
    }

    &__underline {
        @include mobile {
            border-top: 1px solid $cloud;
            width: 100%;
            display: inline-block;
        }
<<<<<<< HEAD
=======
        @include tablet {
            display: none;
        }
>>>>>>> hector-palacios
    }

    &__underline-tablet {
        @include mobile {
            display: none;
        }
        @include tablet {
            border-bottom: 1px solid $cloud;
            width: 100%;
            display: inline-block;
        }
    }

    &__content-container {
        @include mobile {
        display: flex;
        }
        @include tablet {
            margin-top: 2rem;
<<<<<<< HEAD
            margin-bottom: -1rem;
=======
>>>>>>> hector-palacios
        }
        // @include tablet {
        //    flex-wrap: wrap;
        // }
    }

    &__left-container {
        @include mobile {
        width: 45%;
        }
        @include tablet {
            width: 200px;
        }
    }

    &__right-container {
        @include mobile {
        width: 50%;
        }
    }

    &__sub-heading {
        @include mobile {
            font-weight: 600;
            font-size: 11px;
            color: $slate;
            text-align: left;
            margin-left: 1.2rem;
        }
        @include tablet {
            display: none;
        }
    }

    &__name {
        @include mobile {
            font-size: 12px;
            font-weight: 600;
            color: $instock-indigo;
            text-align: left;
            margin-left: 1.2rem;
            margin-top: -0.5rem;
<<<<<<< HEAD
            margin-bottom: 0;
=======
        }
        @include desktop {
            margin-left: 1.6rem;
>>>>>>> hector-palacios
        }
        @include desktop {
            margin-left: 1.6rem;
        }
    }

    &__name-container {
        display: flex;
        margin-bottom: 0;
    }

    &__arrow {
        @include mobile {
            width: 18px;
            height: 18px;
<<<<<<< HEAD
            margin-top: -0.45rem;
            margin-left: 0.4rem;
=======
            position: absolute;
            top: 13.6rem;
            left: 5.3rem;
            // margin-top: -6rem;
            // margin-left: 6rem;
        }
        @include tablet {
            display: none;
        }
    }

    &__address,
    &__city,
    &__country,
    &__contact,
    &__contact-phone,
    &__contact-email {
        @include mobile {
            font-size: 12px;
            font-weight: 400;
            text-align: left;
            margin-left: 1.2rem;
            margin-top: -0.5rem;
            margin-bottom: 8px;
            width: 150px;
>>>>>>> hector-palacios
        }
        @include tablet {
            display: flex;
        }

    }

<<<<<<< HEAD
    &__arrow:hover {
        transition: all 0.5s ease;
        padding-left: 4px;
      }


    &__address,
    &__city,
    &__country,
    &__contact,
    &__contact-phone,
    &__contact-email {
        @include mobile {
            font-size: 12px;
            font-weight: 400;
            text-align: left;
            margin-left: 1.2rem;
            margin-top: -0.5rem;
            margin-bottom: 8px;
            width: 150px;
        }
        @include tablet {
            display: flex;
        }

    }

=======
>>>>>>> hector-palacios
    // &__address {
    //     @include tablet {
    //         margin-left: 9.5rem;
    //         // margin-right: 4rem;
    //         margin-top: -1rem;
    //     }
    // }

    &__address {
        @include mobile {
            width: 120px;
        }
        @include tablet {
            margin-left: 9.5rem;
            margin-top: -2rem; 
        }
        @include desktop {
<<<<<<< HEAD
            margin-left: 16.7rem;
            width: 200px;
        }
    }

    // &__address-container {
    //     @include tablet {
    //         width: 300px;
    //     }
    // }

    &__city,
    &__country {
        @include tablet {
            margin-left: 9.5rem;
            // width: 300px;
        }
        @include desktop {
            margin-left: 16.7rem;
=======
            margin-left: 14.5rem;
            width: 200px;
>>>>>>> hector-palacios
        }
    }

    &__contact {
        @include tablet {
            margin-left: 5rem;
            margin-top: -0.5rem;
        }
        @include desktop {
<<<<<<< HEAD
            margin-left: 23rem;
=======
            margin-left: 16.4rem;
>>>>>>> hector-palacios
        }
    }

    &__contact-phone,
    &__contact-email {
        @include tablet {
<<<<<<< HEAD
            margin-top: -2rem;
=======
>>>>>>> hector-palacios
            margin-left: 14rem;
            // margin-top: 2rem;
        }
        @include desktop {
<<<<<<< HEAD
            margin-left: 35.5rem;
=======
            margin-left: 28rem;
>>>>>>> hector-palacios
        }
    }

    &__contact-phone {
        @include tablet {
            margin-top: -2rem;
        }
<<<<<<< HEAD
        @include desktop {
            margin-left: 35.5rem;
        }
=======
>>>>>>> hector-palacios
    }

    &__contact-email {
        @include tablet {
            margin-top: -0.5rem;
        }
<<<<<<< HEAD
        @include desktop {
            margin-left: 35.5rem;
        }
=======
>>>>>>> hector-palacios
    }

    &__icon-container {
        @include mobile {
        display: flex;
        margin-left: 1rem;
        margin-top: 0.7rem;
        justify-content: space-between;
        margin-right: 1rem;
        }
        @include tablet {
            justify-content: flex-start;
            margin-right: 2rem;
            margin-left: 37rem;
            // flex-direction: column;
            // margin-top: -3rem;
        }
        @include desktop {
<<<<<<< HEAD
            margin-left: 63rem;
=======
            margin-left: 56rem;
>>>>>>> hector-palacios
        }
    }

    &__delete-icon {
        @include mobile {
            width: 20px;
            height: 25px;
        }
        @include tablet {
<<<<<<< HEAD
            margin-top: -2.5rem;
=======
            margin-top: -5rem;
>>>>>>> hector-palacios
            padding-left: 1rem;
        }
    }

    // &__address-container {
    //     @include mobile {
    //         display: flex;
    //         width: 50%;
    //     }
    // }

    // &__address,
    // &__city,
    // &__country {
    //     @include mobile {
            
    //     }
    // }
}

// hr {
//     @include mobile {
//         height: 0.1px;
//         color: $cloud;
//         background-color: $cloud;
//         width: 99.5%;
//         display: inline-block;
//     }
// }