@import "../../styles/partials/variables";

@import "../../styles/partials/mixins";

@import "../../styles/partials/functions";

@import "../../styles/partials/fonts";

html,
body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  font-weight: 600;
}

.Background {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  text-align: center;
  background-color: #d1d1d1;
  &__reserve {
    font-family: Titillium Web;
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 16px;
    text-align: center;
    color: #5c667e;
    @include tablet {
      font-size: 12px;
      line-height: 18px;
    }
    // @include desktop {
    // }
  }
}
